<div class="colo"><div class="header">
    <nav class="navbar fixed-top navbar-expand-lg bg-dark ">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <img class="nav-link" src="assets/t1.png" width="60px" height="60px">
              <h6 style="color: whitesmoke;">Thinker</h6>
            </li>
          
            <li class="nav-item">
              <a class="nav-link"  [routerLink]="['/Basic']"><i class="fas fa-home"></i>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/about']"><i class="fas fa-angle-right"></i>About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']"><i class="fas fa-address-book"></i>Contact us</a>
              </li>
            </ul>
        </div>
      </nav>
      </div>

